# Binterview

Objective #1
- Tell us the conversation rate of Pilot Opportunities to Annual Opportunities
  - On the opportunity object, there is a unique id that connects pilots opportunities to annuals
  - Annuals are defined as Type = Bulk
  - Pilots and Annuals are related upon the pilot being won
- What is the likelihood that an annual will be won when creating a pilot?
- What is the likelihood that an annual will be won when winning a pilot?

Objective #2
- Of all the sessions requested how many are sold?
  - All Opportunities have a Session Request and all Session Requests that are Accepted are associated with the Session Record
- What requested Research Product is most likely to be sold? Explain how you came to that conclusion.
  - Sessions have Service Requests Records related to them, these records are the Products that are being requested by the sales team and relate back to the Product in our Product Catalog.

Objective #2
- What is the average Booking value of Opportunities with sessions sold since July?

CSV List
1. contracts.csv
2. Opps Table (July to present).csv
3. Product Table.csv
4. project_request__cs.csv
5. remesh_project__cs.csv
6. service_request__cs.csv
7. Session Request Table.csv
8. session__cs.csv
9. session_product__cs.csv

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

#SQL
import mysql.connector
import os

In [2]:
# Import Salesforce data
contracts_df = pd.read_csv('contracts.csv')
opps_df = pd.read_csv('Opps Table (July to present).csv')
product_df = pd.read_csv('Product Table.csv')
project_df = pd.read_csv('project_request__cs.csv')
RProject_df = pd.read_csv('remesh_project__cs.csv')
service_df = pd.read_csv('service_request__cs.csv')
Srequest_df = pd.read_csv('Session Request Table.csv')
session_cs_df = pd.read_csv('session__cs.csv')
Sproduct_df = pd.read_csv('session_product__cs.csv')

In [ ]:
contracts_df

First create a new BD

In [3]:
# db_user = os.getenv('db_user')
# db_passwd = os.getenv('db_passwd')

In [7]:
mydb = mysql.connector.connect(host='localhost',\
                              user=db_user,\
                              passwd=db_passwd\
#                               ,database='BIntelligenceDB'\
                              )
                               
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x7febac120410>

In [8]:
# Create a database
mycursor = mydb.cursor()

# This line is commented out because it only needs to be run once
mycursor.execute("CREATE DATABASE BIntelligenceDB")

In [9]:
mycursor.execute("SHOW DATABASES")

for db in mycursor:
    print(db)

('BIntelligenceDB',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('testdb',)

In [ ]:
# # Create a table (do not erase/for refrerence)

# mycursor.execute("CREATE TABLE county_jails\
#                  (reporting_jurisdictions VARCHAR(100),\
#                  county_name VARCHAR(100),\
#                  state_name VARCHAR(100),\
#                  Date VARCHAR(100),\
#                  jail_population INTEGER(255))")

# mycursor.execute("SHOW TABLES")

# for tb in mycursor:
#     print(tb)

In [ ]:
# sqlFormula = "INSERT INTO county_jails (Date, reporting_jurisdictions, county_name, \
# state_name, jail_population) VALUES (%s, %s, %s, %s, %s)"

## EDA

In [ ]:
# Cowlitz = (todays_date, "Cowlitz County Jail", "Cowlitz County", "WA", Cowlitz_text)
# mycursor.execute(sqlFormula, Cowlitz)
# mydb.commit()

,Id,AccountId,Pricebook2Id,OwnerExpirationNotice,StartDate,EndDate,BillingStreet,BillingCity,BillingState,BillingPostalCode,...,Invoiced_In_Arrears_Balance_Amount__c,Originating_Opportunity__c,PO_Number__c,Payment_Frequency__c,Payment_Terms__c,Customer_Success_Rep__c,Billing_Contact__c,Logo__c,First_Conversation_Date__c,Last_Conversation_Date__c
0,8002M000000Vrn9QAC,0014100000byjMrAAI,01s41000006ojbeAAA,NaN,2020-08-04,2020-10-03,NaN,NaN,NaN,NaN,...,NaN,0062M00000ku5usQAA,NaN,Custom / In Arrears,Net 45,0052M000008PvAJQA0,0032M00002ftK1SQAU,a0Y2M00000R48KgUAJ,2020-08-06,2020-08-18
1,8002M000000VrptQAC,0014100000bD20nAAC,01s41000006ojbeAAA,NaN,2020-08-06,2020-11-05,NaN,NaN,NaN,NaN,...,NaN,0062M00000jwUoPQAU,NaN,100% Upfront,Net 60,NaN,0034100002DqUdlAAF,a0Y2M00000R48G4UAJ,2020-08-14,2020-08-14
2,8002M000000VrqxQAC,0014100000GF56vAAD,01s41000006ojbeAAA,NaN,2020-08-05,2020-10-04,NaN,NaN,NaN,NaN,...,NaN,0062M00000ku2gLQAQ,NaN,Custom / In Arrears,Net 45,005410000060ULBAA2,0032M00002fDLn2QAG,a0Y2M00000R48KxUAJ,NaN,NaN
3,8002M000000VruGQAS,0014100000GF56vAAD,01s41000006ojbeAAA,NaN,2020-08-07,2020-10-06,NaN,NaN,NaN,NaN,...,NaN,0062M00000ku649QAA,NaN,Custom / In Arrears,Net 30,005410000060ULBAA2,0032M00002fDLn2QAG,a0Y2M00000R48KxUAJ,NaN,NaN
4,8002M000000VsWkQAK,0012M00002KRHt4QAH,01s41000006ojbeAAA,NaN,2020-08-14,2021-08-13,NaN,NaN,NaN,NaN,...,NaN,0062M00000jOGdNQAW,NaN,100% Upfront,Net 30,0052M000008zHZkQAM,0032M00002wbP4uQAE,a0Y2M00000R44TqUAJ,2020-09-02,2020-09-16

In [ ]:
# country_jail_df = pd.read_sql("SELECT DISTINCT * FROM county_jails", con=mydb)
# country_jail_df.head()