# Binterview

In [2]:
# Import libraries
import pandas as pd
from datetime import datetime

# Request
import requests
import re
import zlib
import urllib
import urllib.request

# Selenium
from selenium import webdriver

#SQL
import mysql.connector
import os

First create a new BD

In [3]:
db_user = os.getenv('db_user')
db_passwd = os.getenv('db_passwd')

In [5]:
mydb = mysql.connector.connect(host='localhost',\
                              user=db_user,\
                              passwd=db_passwd,\
                              database='BIntelligenceDB'\
                              )
                               
print(mydb)

ProgrammingError: 1049 (42000): Unknown database 'bintelligencedb'

In [4]:
# Create a database
mycursor = mydb.cursor()

# This line is commented out because it only needs to be run once
mycursor.execute("CREATE DATABASE BIntelligenceDB")

mycursor.execute("SHOW DATABASES")

for db in mycursor:
    print(db)

NameError: name 'mydb' is not defined

In [2]:
contracts_df = pd.read_csv('contracts.csv')
contracts_df.head()

,Id,AccountId,Pricebook2Id,OwnerExpirationNotice,StartDate,EndDate,BillingStreet,BillingCity,BillingState,BillingPostalCode,...,Invoiced_In_Arrears_Balance_Amount__c,Originating_Opportunity__c,PO_Number__c,Payment_Frequency__c,Payment_Terms__c,Customer_Success_Rep__c,Billing_Contact__c,Logo__c,First_Conversation_Date__c,Last_Conversation_Date__c
0,8002M000000Vrn9QAC,0014100000byjMrAAI,01s41000006ojbeAAA,NaN,2020-08-04,2020-10-03,NaN,NaN,NaN,NaN,...,NaN,0062M00000ku5usQAA,NaN,Custom / In Arrears,Net 45,0052M000008PvAJQA0,0032M00002ftK1SQAU,a0Y2M00000R48KgUAJ,2020-08-06,2020-08-18
1,8002M000000VrptQAC,0014100000bD20nAAC,01s41000006ojbeAAA,NaN,2020-08-06,2020-11-05,NaN,NaN,NaN,NaN,...,NaN,0062M00000jwUoPQAU,NaN,100% Upfront,Net 60,NaN,0034100002DqUdlAAF,a0Y2M00000R48G4UAJ,2020-08-14,2020-08-14
2,8002M000000VrqxQAC,0014100000GF56vAAD,01s41000006ojbeAAA,NaN,2020-08-05,2020-10-04,NaN,NaN,NaN,NaN,...,NaN,0062M00000ku2gLQAQ,NaN,Custom / In Arrears,Net 45,005410000060ULBAA2,0032M00002fDLn2QAG,a0Y2M00000R48KxUAJ,NaN,NaN
3,8002M000000VruGQAS,0014100000GF56vAAD,01s41000006ojbeAAA,NaN,2020-08-07,2020-10-06,NaN,NaN,NaN,NaN,...,NaN,0062M00000ku649QAA,NaN,Custom / In Arrears,Net 30,005410000060ULBAA2,0032M00002fDLn2QAG,a0Y2M00000R48KxUAJ,NaN,NaN
4,8002M000000VsWkQAK,0012M00002KRHt4QAH,01s41000006ojbeAAA,NaN,2020-08-14,2021-08-13,NaN,NaN,NaN,NaN,...,NaN,0062M00000jOGdNQAW,NaN,100% Upfront,Net 30,0052M000008zHZkQAM,0032M00002wbP4uQAE,a0Y2M00000R44TqUAJ,2020-09-02,2020-09-16

In [3]:
contracts_df.shape

(1367, 61)